/*
폰트명이나 여러가지 스타일에대해서는 이야기해서 바꾸는 방향으로 하려고
기본적인 틀이나 구조만 건들였고
폰트는 가장 기본적인 폰트로 사용했습니다.
*/
body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    padding: 20px;
  }
  
  .screen {
    display: none;
  }
  
  .screen.active {
    display: block;
  }
  
  input, select, button {
    display: block;
    margin: 10px auto;
    padding: 10px;
    font-size: 16px;
  }
  