<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>여행지 검색</title>
  <!-- Flask를 위해 수정 (CSS 연결)-->
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="iphone-frame">
    <div class="dynamic-island">
      <div class="time" id="currentTime">12:00</div>
      <div class="island"></div>
      <div class="status-icons">
        <img src="{{ url_for('static', filename='doc.png') }}" alt="status icons" class="status-img">
      </div>
    </div>

    <div class="app-screen">
      <h2>여행지 검색 페이지</h2>
      <p>여행지를 검색해보세요!</p>
      <!-- 폼 입력, 입력하면 app.py keyword 변수에 저장 -->
      <form method="post"><label for="keyword">검색어를 입력하세요</label>
        <input type = "text" id="keyword" name = "keyword" required>
        <button type="submit">검색</button>
      </form>
      <!-- 결과출력 -->
      {% if items %}
        <h3>검색 결과</h3>
        <p>
          <ul>
            {% for item in items %}
            <li>{{ item.title }}</li>
            <!-- 주소 전화번호 이미지 출력-->
              <ul>
                <li>주소: {{ item.addr1 }}</li>
                <li>전화번호: {{ item.tel }}</li>
                <li> 
                  {% if item.firstimage2 %}
                     <img src="{{ item.firstimage2 }}" alt="{{ item.title }} 이미지" 
                     class="search-result-image">
                  {% else %}
                    <div class="search-no-image">
                      <p>이미지 없음</p>
                    </div>
                  {% endif %}
                </li>
                <li>날씨</li>
                <li>카카오맵</li>
              </ul>
            {% endfor %}
          </ul>
        </p>
      {% endif %}
      <p>여행지정보? 숙소정보? 날씨? 특산품?</p>
      <!-- Flask 연동 -->
      <a href="{{ url_for('index') }}" class="app">홈으로</a>
      <!-- <button class="app" onclick="navigate('index.html')">홈으로</button> -->
    </div>

    <div class="home-indicator"></div>
  </div>

  <script>
    function navigate(page) {
      window.location.href = page;
    }
    function updateTime() {
      const now = new Date();
      const hours = now.getHours().toString().padStart(2, '0');
      const minutes = now.getMinutes().toString().padStart(2, '0');
      document.getElementById('currentTime').textContent = `${hours}:${minutes}`;
    }
    setInterval(updateTime, 1000);
    updateTime();
  </script>
</body>
</html>
